body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: rgb(10,70,200);
    color: rgb(250,250,250);
    font-family: Arial;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

 h1, p {
    margin: 1em auto;
    text-align: center;
    padding:5px;
  }

  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    color:rgb(224, 222, 205);
  }

fieldset {
  border: solid;
  padding: 2rem 0;
  border-bottom: 3px solid rgb(0,0,0);
  border-radius: 10px;
  padding-left: 2%;
  background-color: rgb(43, 19, 198);
  }

label {
    display: block;
    margin: 0.5rem 0;
    
  }

input,textarea,select {
    margin: 10px 0 0 0;
    width: 95%;
    min-height: 2em;
    border-radius: 5%;
    
  }

input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
  }

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
    
  }

input[type="submit"] {
    display: block;
    color:black;
    width: 50%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: rgb(255,255,25);
    border-color: rgba(170, 155, 216, 0.908);
    min-width: 300px;
    border-radius: 5%;
  }