.canvas {
    width: 500px;
    height: 600px;
    overflow: hidden;
    filter: blur(2px);
    background: linear-gradient(#e9d44e,#9b89e5, #e93055);
    
  }
  
  .frame {
    border: 50px solid rgb(9, 9, 9);
    width: 500px;
    padding: 50px;
    margin: 20px auto;
  }
  
  .one {
    width: 425px;
    height: 150px;
    background-color: #efcd5d;
    margin: 20px auto;
    box-shadow: 0 0 3px 3px #f6e7ef;
    border-radius: 9px;
        
  }

 
  .two {
    width: 475px;
    height: 200px;
    background-color: #4f45e4;
    margin: 0 auto 20px;
    box-shadow: 0 0 3px 3px #dee0e3;
    border-radius: 8px 10px;
    transform: rotate(0.5deg);
  }
  
  .one, .two {
    filter: blur(1px);
  }
  
  .three {
    width: 91%;
    height: 28%;
    background-color: #e25a5c;
    margin: auto;
    filter: blur(2px);
    box-shadow: 0 0 5px 5px #deded9;
    border-radius: 30px 25px 60px 12px;
  
  }